venv/
__pycache__/
*.py[cod]
*.sock
db.sqlite3
staticfiles/
media/
.env
*.log
*.bak
secrets/
celerybeat-schedule
celerybeat.pid
*.pem
*.key
*.crt
*.pfx
*.sql
*.save
*.bak*
*_abntes
*_ant2
*_Anbtiga
*Cópia*
relatorio_*.csv
ysdba
*_antes
